langpack-ar-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ar-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ar-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ar-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ar-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-ar-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ar-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-ar-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-be-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-be-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-be-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-be-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-be-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-be-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-be-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-be-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-be-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-bg-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-bg-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-bg-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-bg-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-bg-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-bg-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-bg-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-bg-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ca-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-ca-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-cs-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-cs-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-cs-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-cs-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-cs-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-cs-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-cs-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-cs-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-cs-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-cs-1.0.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-da-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-da-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-da-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-da-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-da-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-da-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-da-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-da-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-da-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-5.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-5.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-6.2.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-6.3.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-1.0.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-de-1.0.1-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-el-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-el-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-el-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-el-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-el-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-el-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-el-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-el-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-es-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-es-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-es-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-es-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-es-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-es-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-es-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-es-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-es-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-es-1.0.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-et-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-et-0.1.0-for-truecrypt-5.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-et-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-et-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-et-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-et-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-et-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-et-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-et-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-et-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-eu-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-eu-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-eu-1.0.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fa-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fa-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fa-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fa-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fa-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fa-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-fa-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fa-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-fa-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fi-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fi-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fi-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-fi-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fi-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-fi-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fi-1.0.1-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fi-1.0.6-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fr-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fr-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fr-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fr-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-fr-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fr-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-fr-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fr-0.2.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fr-1.0.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-fr-1.0.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-hu-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-hu-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-hu-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-hu-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-hu-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-hu-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-hu-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-hu-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-hu-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-id-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-id-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-id-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-id-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-id-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-id-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-id-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-id-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-id-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-it-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-it-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-it-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-it-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-it-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-it-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-it-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-it-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-it-1.0.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-it-1.0.1-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ja-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ja-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ja-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-ja-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ja-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-ja-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ja-1.0.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ja-1.0.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ja-1.5.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ja-2.0.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ka-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ka-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ka-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ka-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ka-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-ka-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ka-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-ka-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ko-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ko-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ko-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ko-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-ko-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ko-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-ko-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ko-1.0.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ko-1.0.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-lv-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-lv-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-lv-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-lv-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-lv-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-lv-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-lv-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-lv-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-lv-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-my-1.0.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nl-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nl-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nl-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nl-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nl-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nl-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-nl-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nl-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-nl-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nn-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nn-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nn-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nn-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nn-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nn-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-nn-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-nn-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-nn-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pl-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pl-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pl-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pl-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pl-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pl-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-pl-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-pl-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pl-1.0.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pl-1.0.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pt-br-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pt-br-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pt-br-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pt-br-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pt-br-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-pt-br-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pt-br-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-pt-br-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-pt-br-0.1.1-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ru-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ru-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ru-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-ru-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-ru-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ru-1.0.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ru-1.0.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ru-1.0.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ru-1.0.1-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-ru-1.0.7-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sk-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sk-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sk-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sk-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sk-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-sk-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sk-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-sk-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sl-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-sl-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sl-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-sl-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sv-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sv-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sv-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sv-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sv-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-sv-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sv-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-sv-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-sv-1.0.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-tr-0.1.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-tr-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-tr-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-tr-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-tr-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-tr-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-tr-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-tr-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-tr-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uk-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uk-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uk-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uk-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uk-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-uk-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uk-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-uk-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uk-1.0.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uk-1.0.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uz-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uz-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-uz-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-uz-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-uz-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-vi-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-vi-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-vi-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-vi-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-vi-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-cn-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-cn-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-cn-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-cn-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-cn-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-cn-1.0.0-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-cn-1.0.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-cn-1.0.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-cn-1.0.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-cn-1.0.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-hk-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-hk-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-hk-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-hk-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-tw-0.1.0-for-truecrypt-6.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-tw-0.1.0-for-truecrypt-6.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-tw-0.1.0-for-truecrypt-6.2a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-tw-0.1.0-for-truecrypt-6.3a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-tw-0.1.0-for-truecrypt-7.0.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-tw-0.1.0-for-truecrypt-7.0a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-tw-0.1.0-for-truecrypt-7.1.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-tw-0.1.0-for-truecrypt-7.1a.zip filter=lfs diff=lfs merge=lfs -text
langpack-zh-tw-0.1.1-for-truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
