e4m202a.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]4.3a.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]4.3a-2.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]5.0.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]5.0a.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]5.1.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]5.1a.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]5.1a-2.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]6.0.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]6.0a.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]6.1.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]6.1a.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]6.2.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]6.2a.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]6.3.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]6.3a.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]7.0.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]7.0a.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]7.1.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]Setup[[:space:]]7.1a.exe filter=lfs diff=lfs merge=lfs -text
TrueCrypt-7.2.exe filter=lfs diff=lfs merge=lfs -text
obsolete_add-ons filter=lfs diff=lfs merge=lfs -text
e4m202as.zip filter=lfs diff=lfs merge=lfs -text
e4m202s.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.0[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.0a[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.1[[:space:]]source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.1a[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.0[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.0a[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.1[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.1a[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.2[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.2a[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.3[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.3a[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.0[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.0a[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.1[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.1a[[:space:]]Source.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-1.0.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-1.0a.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-1.0a-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-1.0-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-2.0.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-2.0-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-2.1.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-2.1a.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-2.1a-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-2.1-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-3.0.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-3.0a.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-3.0a-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-3.1.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-3.1a.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-3.1a-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-3.1-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.0.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.0-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.1.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.1-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3a.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3a-source-code.zip filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3-source-code.zip filter=lfs diff=lfs merge=lfs -text
TrueCrypt-7.2-source.zip filter=lfs diff=lfs merge=lfs -text
Scramdisk-0.8.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.0[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.0a[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.1[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.1a[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.0[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.0a[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.1[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.1a[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.2[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.2a[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.3[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.3a[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.0[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.0a[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.1[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.1a[[:space:]]Source.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.0-opensuse-10.0-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.0-source-code.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.0-suse-9.2-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.0-ubuntu-5.04-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.0-ubuntu-5.10-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.0-ubuntu-5.10-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.1-opensuse-10.0-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.1-source-code.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.1-suse-9.2-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.1-suse-9.3-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.1-ubuntu-5.04-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.1-ubuntu-5.10-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-fedora-core-4-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-fedora-core-5-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-opensuse-10.0-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-opensuse-10.1-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-opensuse-10.1-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-source-code.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-suse-9.3-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-ubuntu-5.04-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-ubuntu-5.10-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-ubuntu-6.06-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2a-ubuntu-6.06-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2-fedora-core-4-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2-fedora-core-5-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2-opensuse-10.0-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2-source-code.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2-suse-9.3-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2-ubuntu-5.04-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.2-ubuntu-5.10-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3a-opensuse-10.2-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3a-source-code.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3-opensuse-10.2-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3-source-code.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3-ubuntu-6.06-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3-ubuntu-6.10-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-4.3-ubuntu-6.10-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-5.0a-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-5.0-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-5.0-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-5.1a-opensuse-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-5.1a-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-5.1a-ubuntu-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-5.1a-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-5.1-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-5.1-ubuntu-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-5.1-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.0a-opensuse-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.0a-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.0a-ubuntu-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.0a-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.0-opensuse-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.0-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.0-ubuntu-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.0-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.1a-opensuse-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.1a-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.1a-ubuntu-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.1a-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.1-opensuse-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.1-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.1-ubuntu-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.1-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.2a-opensuse-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.2a-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.2a-ubuntu-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.2a-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.2-opensuse-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.2-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.2-ubuntu-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.2-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3a-linux-console-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3a-linux-console-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3a-linux-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3a-linux-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3a-opensuse-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3a-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3a-ubuntu-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3a-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3-opensuse-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3-opensuse-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3-ubuntu-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-6.3-ubuntu-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.0a-linux-console-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.0a-linux-console-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.0a-linux-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.0a-linux-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.0-linux-console-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.0-linux-console-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.0-linux-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.0-linux-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.1a-linux-console-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.1a-linux-console-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.1a-linux-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.1a-linux-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.1-linux-console-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.1-linux-console-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.1-linux-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
truecrypt-7.1-linux-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt-7.2-Linux-console-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt-7.2-Linux-console-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt-7.2-Linux-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt-7.2-Linux-x86.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt-7.2-source-unix.tar.gz filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.0[[:space:]]Tiger[[:space:]]PowerPC.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.0a[[:space:]]Leopard[[:space:]]Intel.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.0a[[:space:]]Tiger[[:space:]]PowerPC.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.1[[:space:]]Leopard.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.1a[[:space:]]Leopard.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]5.1a[[:space:]]Tiger.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.0[[:space:]]Leopard.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.0[[:space:]]Tiger.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.0a[[:space:]]Leopard.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.0a[[:space:]]Tiger.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.1[[:space:]]Leopard.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.1[[:space:]]Tiger.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.1a[[:space:]]Leopard.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.1a[[:space:]]Tiger.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.2[[:space:]]Mac[[:space:]]OS[[:space:]]X.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.2a[[:space:]]Mac[[:space:]]OS[[:space:]]X.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.3[[:space:]]Mac[[:space:]]OS[[:space:]]X.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]6.3a[[:space:]]Mac[[:space:]]OS[[:space:]]X.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.0[[:space:]]Mac[[:space:]]OS[[:space:]]X.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.0a[[:space:]]Mac[[:space:]]OS[[:space:]]X.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.1[[:space:]]Mac[[:space:]]OS[[:space:]]X.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt[[:space:]]7.1a[[:space:]]Mac[[:space:]]OS[[:space:]]X.dmg filter=lfs diff=lfs merge=lfs -text
TrueCrypt-7.2-Mac-OS-X.dmg filter=lfs diff=lfs merge=lfs -text
